* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list-item {
  padding: 20px 0 20px 20px;
}

.list-item:nth-child(odd) {
  background-color: red;
}

.list-item:nth-child(even) {
  background-color: blue;
}

.list {
  margin-bottom: 50px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  height: 200px;
  width: 30%;
  background-color: red;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box-item:nth-child(1),
.box-item:nth-child(5),
.box-item:nth-child(9) {
  background-color: blue;
}

.box-item:nth-child(3),
.box-item:nth-child(6) {
  margin-right: 0;
}

.box-item:nth-child(7),
.box-item:nth-child(8) {
  margin-bottom: 0;
}

.box-item:nth-child(9) {
  margin: 0;
}
